@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Work Sans';
		src: url('/fonts/WorkSans/WorkSans-Regular.eot');
		src: url('/fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
				url('/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
				url('/fonts/WorkSans/WorkSans-Regular.woff') format('woff'),
				url('/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}
	
	@font-face {
		font-family: 'Work Sans';
		src: url('/fonts/WorkSans/WorkSans-Bold.eot');
		src: url('/fonts/WorkSans/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
				url('/fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
				url('/fonts/WorkSans/WorkSans-Bold.woff') format('woff'),
				url('/fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: block;
	}

	article a {
		@apply underline;
	}

	article h2 {
		@apply text-2xl font-bold mt-6;
	}

	article h2:first-child {
		@apply mt-0;
	}

	article p {
		@apply my-4;
	}

	article ul {
		@apply list-disc my-4 ml-5;
	}

	article li {
		@apply my-2 pl-1;
	}
	
}

@layer components {
	.layout-container {
		@apply flex flex-col antialiased tracking-tight;
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}
}