@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Work Sans';
		src: url('/fonts/WorkSans/WorkSans-Regular.eot');
		src: url('/fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
				url('/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
				url('/fonts/WorkSans/WorkSans-Regular.woff') format('woff'),
				url('/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	@font-face {
		font-family: 'Work Sans';
		src: url('/fonts/WorkSans/WorkSans-Bold.eot');
		src: url('/fonts/WorkSans/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
				url('/fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
				url('/fonts/WorkSans/WorkSans-Bold.woff') format('woff'),
				url('/fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
}

@layer components {
	.layout-container {
		@apply flex flex-col min-h-screen antialiased tracking-tight;
		height: -webkit-fill-available;
	}
}